# dependencies
node_modules
.pnpm-store

# build
dist
*.tsbuildinfo

# env / local
.env
.env.*
!.env.example

# tooling
.vercel
.cache
.local

# logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.idea
.vscode/*
!.vscode/extensions.json
